.nav {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.navItem {
  padding-right: 1rem;
}
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f4433640; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}
.success {
  background-color: #43f43640; /* Red */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.card {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1rem;
}

.note {
  flex: 7;
}

.deleteNote {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.deleteNote > button {
  border-radius: 1rem;
}

.noteForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.noteSubmit {
  width: fit-content;
  align-self: flex-end;
}
